# Movie Recommendation System: [TMDB Movies](https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata)
- Nama: Mohammad Valeriant Qumara Tanda
- ID: MC180D5Y0566
- Email: valenttanda@gmail.com

## Import Library
Import library yang dibutuhkan untuk proyek ini. Pada proyek ini, digunakan library berikut:
- `pandas`: Mengolah data.
- `numpy`: Melakukan operasi matematika.
- `matplotlib`: Membuat grafik.
- `seaborn`: Membuat grafik yang lebih menarik.
- `ast`: Mengakses atribut dari objek.
- `scikit-learn`: Membuat model rekomendasi dengan TF-IDF dan Cosine Similarity.
- `sentence-transformers`: Membuat model rekomendasi dengan BERT Embeddings. (Untuk menggunakan library ini, disarankan menggunakan IDE Google Colab untuk komputasi yang lebih cepat dan stabil).
- `json`: Menyimpan file ke bentuk JSON.

In [300]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
import json
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sentence_transformers import SentenceTransformer

## Load Dataset
Dataset yang digunakan dalam proyek ini adalah dataset kumpulan film dari tahun 1916 hingga 2017. Sumber dataset untuk proyek ini berasal dari [Kaggle](https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata).

In [301]:
movie = pd.read_csv("data/tmdb_5000_movies.csv")

Tampilkan dataset movie

In [302]:
movie.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

## EDA
Di tahap ini, akan dilakukan analisis exploratory data (EDA) untuk memahami data yang ada. EDA ini bertujuan untuk memahami distribusi data, hubungan antar variabel, dan menemukan pola-pola yang ada dalam data. EDA untuk proyek ini hanya mencari informasi dataset, nilai kosong, dan duplikasi data. Ketiga hal di atas dirangkum dalam **Dataset Information**

### Dataset information
Berisikan informasi mengenai dataset yang digunakan. Informasi ini meliputi:
- Bentuk dataset: Mengetahui jumlah kolom dan baris dalam masing-masing dataset
- Informasi dataset: Mengetahui jenis data yang ada dalam dataset, seperti numerik, kategori, atau tanggal, dan secara tidak langsung mengetahui adakah nilai yang hilang dalam dataset atau tidak
- Cek Nilai Kosong: Mengetahui apakah ada nilai kosong dalam dataset atau tidak
- Cek Nilai Duplikat: Mengetahui apakah ada nilai duplikat dalam dataset atau tidak
- Statistik dataset: Mengetahui nilai-nilai statistik dalam dataset

Cek bentuk kedua dataset

In [303]:
print(f"Movie dataframe: {movie.shape}")

Movie dataframe: (4803, 20)

Cek informasi kedua dataset

In [304]:
print(f"{movie.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB
None

Dari informasi ini, diketahui bahwa tidak ada nilai kosong pada dataset credit. Selanjutnya, akan diperiksa nilai kosong untuk movie dan duplikasi data untuk kedua dataset

Cek nilai kosong untuk movie

In [305]:
missing_value = movie.isna().sum()
missing_value = missing_value[missing_value > 0]
missing_percentage = (missing_value/len(movie)) * 100
missing_percentage = missing_percentage[missing_percentage > 0]
missing_display = pd.DataFrame({
	'Missing Value': missing_value.sort_values(ascending=False),
  'Missing Percentage': missing_percentage.sort_values(ascending=False).round(4).astype(str) + '%'
})
missing_display

              Missing Value Missing Percentage
homepage               3091           64.3556%
tagline                 844           17.5724%
overview                  3            0.0625%
runtime                   2            0.0416%
release_date              1            0.0208%

Terlihat bahwa `homepage` memiliki nilai kosong paling besar, sekitar 64%. Selain itu, karena `homepage` tidak dibutuhkan dalam analisis mendatang,  maka kolom `homepage` akan dihapus

Cek duplikasi data

In [306]:
print(f"Duplicated data in movie: {movie.duplicated().sum()}")

Duplicated data in movie: 0

Pada dataset **movie**, terdapat `original_title` dan `title`, sedangkan pada dataset **credit** terdapat `title`. Akan dilakukan pengecekan nilai unik dari masing-masing kolom pada kedua dataset

In [307]:
# Unique values
for col in ['original_title', 'title']:
  print(f"Unique values in movie: column {col}: {movie[col].unique()}\n")

Unique values in movie: column original_title: ['Avatar' "Pirates of the Caribbean: At World's End" 'Spectre' ...
 'Signed, Sealed, Delivered' 'Shanghai Calling' 'My Date with Drew']

Unique values in movie: column title: ['Avatar' "Pirates of the Caribbean: At World's End" 'Spectre' ...
 'Signed, Sealed, Delivered' 'Shanghai Calling' 'My Date with Drew']

Ternyata, isi dari ketiga kolom tersebut sama. Oleh karena itu, untuk `title` pada **movie** dan `title` pada **credit** akan dihapus, karena merupakan duplikasi dari kolom `original_title`

Statistik Dataset

In [308]:
movie.describe(include='all')

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
count,4.803000e+03,4803,1712,4803.000000,4803,4803,4803,4800,4803.000000,4803,4803,4802,4.803000e+03,4801.000000,4803,4803,3959,4803,4803.000000,4803.000000
unique,NaN,1175,1691,NaN,4222,37,4801,4800,NaN,3697,469,3280,NaN,NaN,544,3,3944,4800,NaN,NaN
top,NaN,"[{""id"": 18, ""name"": ""Drama""}]",http://www.missionimpossible.com/,NaN,[],en,Batman,"'Breaking Upwards' explores a young, real-life...",NaN,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-01-01,NaN,NaN,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Based on a true story.,The Host,NaN,NaN
freq,NaN,370,4,NaN,412,4505,2,1,NaN,351,2977,10,NaN,NaN,3171,4795,3,2,NaN,NaN
mean,2.904504e+07,NaN,NaN,57165.484281,NaN,NaN,NaN,NaN,21.492301,NaN,NaN,NaN,8.226064e+07,106.875859,NaN,NaN,NaN,NaN,6.092172,690.217989
std,4.072239e+07,NaN,NaN,88694.614033,NaN,NaN,NaN,NaN,31.816650,NaN,NaN,NaN,1.628571e+08,22.611935,NaN,NaN,NaN,NaN,1.194612,1234.585891
min,0.000000e+00,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000e+00,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,7.900000e+05,NaN,NaN,9014.500000,NaN,NaN,NaN,NaN,4.668070,NaN,NaN,NaN,0.000000e+00,94.000000,NaN,NaN,NaN,NaN,5.600000,54.000000
50%,1.500000e+07,NaN,NaN,14629.000000,NaN,NaN,NaN,NaN,12.921594,NaN,NaN,NaN,1.917000e+07,103.000000,NaN,NaN,NaN,NaN,6.200000,235.000000
75%,4.000000e+07,NaN,NaN,58610.500000,NaN,NaN,NaN,NaN,28.313505,NaN,NaN,NaN,9.291719e+07,118.000000,NaN,NaN,NaN,NaN,6.800000,737.000000
max,3.800000e+08,NaN,NaN,459488.000000,NaN,NaN,NaN,NaN,875.581305,NaN,NaN,NaN,2.787965e+09,338.000000,NaN,NaN,NaN,NaN,10.000000,13752.000000

## Preprocessing
Membersihkan dataset dari nilai kosong. Untuk tahap ini, tidak banyak preprocessing yang dilakukan, karena hanya menangani nilai kosong, dan setiap data berbentuk objek diperlukan untuk pemodelan sistem rekomendasi mendatang. Preprocessing ini hanya berfokus pada kolom `overview` dan `genres`

Menghapus kolom yang tidak dibutuhkan:
- `homepage`: memiliki nilai kosong paling banyak (64%).
- `title` pada **credit** dan `title` pada **movie**: keduanya merupakan duplikasi dari `original_title`.

In [309]:
movie_cleaned = movie.drop(columns=['homepage', 'title'])

Mengatasi nilai kosong pada `overview`, dengan membuat string kosong.

In [310]:
movie_cleaned['overview'] = movie_cleaned['overview'].fillna('')

## Preparation
Mempersiapkan dataset sebelum pemodelan. Untuk tahap ini, ada beberapa hal yang dikerjakan, seperti:

### 1. Copy Cleaned `movie` to `df` for Modeling
Menyalin dataset `movie` yang telah bersih ke dalam dataset baru `df` untuk persiapan pemodelan

In [311]:
df = movie_cleaned.copy()
df

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,7.0,6
4801,0,[],126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,6.3,16

Cek bentuk dataset

In [312]:
df.shape

(4803, 18)

Cek informasi dataset

In [313]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   id                    4803 non-null   int64
 3   keywords              4803 non-null   object
 4   original_language     4803 non-null   object
 5   original_title        4803 non-null   object
 6   overview              4803 non-null   object
 7   popularity            4803 non-null   float64
 8   production_companies  4803 non-null   object
 9   production_countries  4803 non-null   object
 10  release_date          4802 non-null   object
 11  revenue               4803 non-null   int64
 12  runtime               4801 non-null   float64
 13  spoken_languages      4803 non-null   object
 14  status                4803 non-null   object
 15  tagline               3959 non-null   object
 16  vote_average          4803 non-null   float64
 17  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(11)
memory usage: 675.6+ KB

### 2. Drop Unnecessary Columns
Beberapa kolom, seperti `status` dan `production_countries` tidak diperlukan untuk proyek ini, karena tidak menyatakan apa pun dalam sistem rekomendasi. Sehingga, kedua kolom ini dihapus

In [314]:
df = df.drop(columns=['status', 'production_countries'])
df.head()

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,release_date,revenue,runtime,spoken_languages,tagline,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","At the end of the world, the adventure begins.",6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",A Plan No One Escapes,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",The Legend Ends,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","Lost in our world, found in another.",6.1,2124

### 3. Parsing `genres` Column

Karena `genres` dibutuhkan dalam sistem rekomendasi, dan bentuk `genres` masih berformat **JSON**, maka perlu dilakukan parsing ke bentuk string.

In [315]:
def clean_genres(genre_str):
  try:
    genres = ast.literal_eval(genre_str)
    return ' '.join([g['name'] for g in genres]).lower()
  except:
    return ''
df['genres'] = df['genres'].apply(clean_genres)

Cek dataset sebelum proses modeling

In [316]:
df.head()

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,release_date,revenue,runtime,spoken_languages,tagline,vote_average,vote_count
0,237000000,action adventure fantasy science fiction,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,7.2,11800
1,300000000,adventure fantasy action,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","At the end of the world, the adventure begins.",6.9,4500
2,245000000,action adventure crime,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",A Plan No One Escapes,6.3,4466
3,250000000,action crime drama thriller,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",The Legend Ends,7.6,9106
4,260000000,action adventure science fiction,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","Lost in our world, found in another.",6.1,2124

Simpan dataset dengan bentuk `.csv`

In [317]:
df.to_csv("data/movies_dataset.csv", index=False)

## Modeling
Di tahap ini, dataset yang bersih bisa digunakan untuk pemodelan. Untuk proyek sistem rekomendasi ini, akan digunakan empat skema dengan dua model berbeda, yaitu:

### 1. TF-IDF + Cosine Similarity (kolom `overview`)

- _Term Frequency - Inverse Document Frequency_ (TF-IDF) merupakan teknik yang digunakan untuk menghitung bobot dari setiap kata dalam dokumen.
- _Cosine Similarity_ digunakan untuk menghitung kemiripan antara dua vektor.

Inisiasi vectorizer tf-idf

In [318]:
tfv_overview = TfidfVectorizer()

Fitting TF-IDF ke kolom `overview`

In [319]:
tfidf_overview_matrix = tfv_overview.fit_transform(df['overview'])
tfidf_overview_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 197368 stored elements and shape (4803, 21262)>

Ukuran matriks TF-IDF `overview`

In [320]:
tfidf_overview_matrix.shape

(4803, 21262)

Inisisasi fungsi *cosine similarity*

In [321]:
cos_tfidf_overview = cosine_similarity(tfidf_overview_matrix)
cos_tfidf_overview[0]

array([1.        , 0.03668199, 0.01946126, ..., 0.0327237 , 0.01739194,
       0.01366935], shape=(4803,))

Balik pemetaan antara `index` dan `original_title`

In [322]:
indices = pd.Series(df.index, index=df['original_title']).drop_duplicates()
indices

original_title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

Buat fungsi sistem rekomendasi dan testing fungsi

In [ ]:
def recommend_tfidf_cossim_overview(title, cos_tfidf_overview=cos_tfidf_overview):
  # Get the original_title index
  idx = indices[title]
  
  # Get the pairwise similarity scores
  cos_tfidf_overview_scores = list(enumerate(cos_tfidf_overview[idx]))
  
  # Sort movies
  cos_tfidf_overview_scores = sorted(cos_tfidf_overview_scores, key=lambda x: x[1], reverse=True)
  
  # Scores of the top 10 most similar movies
  cos_tfidf_overview_scores = cos_tfidf_overview_scores[1:6]
  
  # Movie indices 
  movie_indices = [i[0] for i in cos_tfidf_overview_scores]
  
  return df['original_title'].iloc[movie_indices]

Uji coba fungsi

In [324]:
tfidf_overview_test = recommend_tfidf_cossim_overview('Avatar')
print("5 Recommend Films Based on Avatar:")
tfidf_overview_test

5 Recommend Films Based on Avatar:

3604           Apollo 18
529     Tears of the Sun
2130        The American
1341    Obitaemyy Ostrov
634           The Matrix
Name: original_title, dtype: object

Cek nilai *cosine similarity* untuk 10 film rekomendasi teratas

In [325]:
sorted(list(enumerate(cos_tfidf_overview[indices['Avatar']])), key=lambda x: x[1], reverse=True)

[(0, np.float64(1.0)),
 (3604, np.float64(0.19507071405516235)),
 (529, np.float64(0.15982247741846406)),
 (2130, np.float64(0.15913539473913496)),
 (1341, np.float64(0.14279306550568086)),
 (634, np.float64(0.1426794068466045)),
 (2628, np.float64(0.1280211742196389)),
 (847, np.float64(0.12715697418970243)),
 (311, np.float64(0.125496856407626)),
 (942, np.float64(0.1247738001890465)),
 (3458, np.float64(0.11645908052001727)),
 (1213, np.float64(0.11577150440927401)),
 (2967, np.float64(0.11114143356816217)),
 (1610, np.float64(0.10612197630772931)),
 (2109, np.float64(0.10467564813354942)),
 (775, np.float64(0.10407276392631461)),
 (1513, np.float64(0.10125396196386263)),
 (2920, np.float64(0.09964157591674233)),
 (570, np.float64(0.09515223114446794)),
 (36, np.float64(0.09475224277403813)),
 (1033, np.float64(0.0935212718618396)),
 (150, np.float64(0.09275906826931352)),
 (2529, np.float64(0.09251179065289368)),
 (83, np.float64(0.09239572786589818)),
 (582, np.float64(0.09226728949671142)),
 (312, np.float64(0.09154250230526224)),
 (2578, np.float64(0.09119324457298605)),
 (1649, np.float64(0.09065119887723296)),
 (3724, np.float64(0.09023167693136434)),
 (3948, np.float64(0.09009177969248033)),
 (1959, np.float64(0.08978781332554535)),
 (1274, np.float64(0.08916960171090398)),
 (3970, np.float64(0.08915346798411612)),
 (281, np.float64(0.08836257982121105)),
 (4591, np.float64(0.08769719043641806)),
 (2808, np.float64(0.08717159770416281)),
 (2964, np.float64(0.08445968593350821)),
 (420, np.float64(0.08349072046772688)),
 (951, np.float64(0.08347099024393094)),
 (27, np.float64(0.08308003978903145)),
 (1004, np.float64(0.08306208477582559)),
 (1013, np.float64(0.0825928403671651)),
 (3498, np.float64(0.08257084272903026)),
 (1275, np.float64(0.08224561250307173)),
 (1633, np.float64(0.08206620338170899)),
 (1528, np.float64(0.08179926869917867)),
 (535, np.float64(0.08101931096784115)),
 (614, np.float64(0.08066737035057536)),
 (3070, np.float64(0.08050104843405954)),
 (74, np.float64(0.08041027302332174)),
 (365, np.float64(0.08027187563829707)),
 (1817, np.float64(0.0801040813999409)),
 (1784, np.float64(0.07992721485305337)),
 (1532, np.float64(0.07967667313430014)),
 (4039, np.float64(0.07940049173759689)),
 (2767, np.float64(0.07934700429655252)),
 (3172, np.float64(0.0791257549198017)),
 (3695, np.float64(0.07892362267245187)),
 (1345, np.float64(0.0782512338437625)),
 (174, np.float64(0.07824990702962098)),
 (45, np.float64(0.07805813672126871)),
 (3624, np.float64(0.07711674383380568)),
 (1199, np.float64(0.07692768167283764)),
 (1301, np.float64(0.07692337453411682)),
 (2543, np.float64(0.07609762469525044)),
 (31, np.float64(0.07600080825970787)),
 (4211, np.float64(0.07582114871187418)),
 (3396, np.float64(0.07579409406479976)),
 (404, np.float64(0.07557213560651928)),
 (1163, np.float64(0.07548724808636925)),
 (1644, np.float64(0.07546476290925573)),
 (2875, np.float64(0.07502015569194909)),
 (617, np.float64(0.07489593369935657)),
 (4754, np.float64(0.07489566041074014)),
 (1118, np.float64(0.07448328151917288)),
 (369, np.float64(0.07411060276951378)),
 (151, np.float64(0.07393057004192542)),
 (1434, np.float64(0.07390022859608544)),
 (568, np.float64(0.07383192426918897)),
 (3004, np.float64(0.07358540710565074)),
 (1653, np.float64(0.07320868213491954)),
 (1471, np.float64(0.07315231930502604)),
 (2705, np.float64(0.07300920329017528)),
 (2226, np.float64(0.0729889496795425)),
 (2370, np.float64(0.07289994063769567)),
 (2160, np.float64(0.0728339674778259)),
 (972, np.float64(0.07176141770402741)),
 (3419, np.float64(0.07149098015881122)),
 (557, np.float64(0.07136742989651837)),
 (199, np.float64(0.07135223211746772)),
 (3618, np.float64(0.07094620083570653)),
 (110, np.float64(0.07048388740811959)),
 (3710, np.float64(0.07043500055454963)),
 (507, np.float64(0.07013717212198374)),
 (1914, np.float64(0.0700490616846208)),
 (26, np.float64(0.06995613798156487)),
 (7, np.float64(0.0696203049857285)),
 (2327, np.float64(0.06947578944299357)),
 (2636, np.float64(0.06918559273547521)),
 (1034, np.float64(0.0689312198432909)),
 (140, np.float64(0.06859386200826782)),
 (785, np.float64(0.06842874969694969)),
 (646, np.float64(0.06839482166817924)),
 (2684, np.float64(0.06835498983071453)),
 (1491, np.float64(0.06823136353180675)),
 (2724, np.float64(0.06817772116890171)),
 (2424, np.float64(0.06811392579644177)),
 (2990, np.float64(0.06806649320857402)),
 (2048, np.float64(0.06805975933952316)),
 (2016, np.float64(0.06770292832908692)),
 (2626, np.float64(0.06754535476267644)),
 (1843, np.float64(0.0674926406682154)),
 (4176, np.float64(0.0674214375998805)),
 (3776, np.float64(0.06734875227712267)),
 (539, np.float64(0.06718906001689542)),
 (1172, np.float64(0.06704200026267108)),
 (4263, np.float64(0.06694272581062324)),
 (4644, np.float64(0.06693253128004328)),
 (4649, np.float64(0.06687964982652368)),
 (2509, np.float64(0.06683081950048247)),
 (2616, np.float64(0.06644007704715925)),
 (2008, np.float64(0.06580237793133177)),
 (3197, np.float64(0.06571980718130767)),
 (1802, np.float64(0.06532195343786247)),
 (2614, np.float64(0.06489298471607671)),
 (1377, np.float64(0.06480231034619546)),
 (3516, np.float64(0.06460868454250057)),
 (373, np.float64(0.06458479108260642)),
 (4301, np.float64(0.06455560846989172)),
 (275, np.float64(0.06454280333669624)),
 (107, np.float64(0.06453241454169303)),
 (4557, np.float64(0.06443934058519195)),
 (4376, np.float64(0.0643977109666512)),
 (1042, np.float64(0.06435581936646075)),
 (3336, np.float64(0.06427066721937032)),
 (823, np.float64(0.06412061949860387)),
 (4042, np.float64(0.06405925308960281)),
 (1482, np.float64(0.06404909736433867)),
 (1279, np.float64(0.06399126986227026)),
 (1023, np.float64(0.0639554821404387)),
 (68, np.float64(0.063913853760972)),
 (894, np.float64(0.0637316479124923)),
 (1920, np.float64(0.06346383581486123)),
 (301, np.float64(0.06340669195684079)),
 (2687, np.float64(0.06328969734524721)),
 (3306, np.float64(0.0632778266885567)),
 (1326, np.float64(0.06318492032351568)),
 (1318, np.float64(0.06311975237267445)),
 (1735, np.float64(0.06306517226588741)),
 (1106, np.float64(0.06294406030999708)),
 (495, np.float64(0.06293946052128882)),
 (1517, np.float64(0.06268487451108556)),
 (1467, np.float64(0.06257473374793947)),
 (4795, np.float64(0.06256158931605223)),
 (4796, np.float64(0.06255806424534271)),
 (1395, np.float64(0.062361824518861804)),
 (4347, np.float64(0.062307266760277105)),
 (4637, np.float64(0.06230100683833038)),
 (3626, np.float64(0.062243542428294704)),
 (1175, np.float64(0.06218153027173306)),
 (2878, np.float64(0.06217582636940723)),
 (549, np.float64(0.06197623913096137)),
 (127, np.float64(0.06196612699883012)),
 (475, np.float64(0.06173647200810188)),
 (2951, np.float64(0.06168013821727842)),
 (2382, np.float64(0.06167823080941443)),
 (342, np.float64(0.06162003543657452)),
 (1456, np.float64(0.06150643054574156)),
 (2550, np.float64(0.06132895373625812)),
 (1117, np.float64(0.06124243250168085)),
 (3747, np.float64(0.061135279712283684)),
 (2218, np.float64(0.06070917977556132)),
 (3192, np.float64(0.060461955132198236)),
 (1158, np.float64(0.060181937207327604)),
 (1067, np.float64(0.06015678765604037)),
 (632, np.float64(0.059813481020840956)),
 (91, np.float64(0.059701123144477855)),
 (3833, np.float64(0.05958703281482768)),
 (2142, np.float64(0.059441087511189775)),
 (575, np.float64(0.0594207054983512)),
 (3302, np.float64(0.05929793602260463)),
 (3489, np.float64(0.0592592869427638)),
 (1068, np.float64(0.05924415661476936)),
 (1217, np.float64(0.059194987861510895)),
 (2645, np.float64(0.059190487179933915)),
 (999, np.float64(0.05907906702096473)),
 (1974, np.float64(0.05887998816866272)),
 (1737, np.float64(0.05886638672844121)),
 (626, np.float64(0.05858864907990218)),
 (1438, np.float64(0.05858831938023243)),
 (1912, np.float64(0.058572365521202784)),
 (2936, np.float64(0.05853828505649544)),
 (3104, np.float64(0.05837995831387018)),
 (149, np.float64(0.05835793093570229)),
 (153, np.float64(0.05832059935233895)),
 (3098, np.float64(0.05831058853578576)),
 (3717, np.float64(0.05828847481563511)),
 (1508, np.float64(0.05813799500555435)),
 (1110, np.float64(0.05812866383047311)),
 (3221, np.float64(0.058119877332719116)),
 (1840, np.float64(0.058103380375255004)),
 (1820, np.float64(0.05791046271891963)),
 (137, np.float64(0.05786413331421006)),
 (536, np.float64(0.05779405169423811)),
 (1294, np.float64(0.05775360513822552)),
 (1016, np.float64(0.057246399551083835)),
 (2644, np.float64(0.05715485459756551)),
 (2220, np.float64(0.057103351949038435)),
 (1547, np.float64(0.05699963808386101)),
 (2721, np.float64(0.0568296946451805)),
 (483, np.float64(0.05677780613658484)),
 (985, np.float64(0.0567758312052575)),
 (1198, np.float64(0.05659821232368429)),
 (2194, np.float64(0.056557333644272546)),
 (48, np.float64(0.05651729290316116)),
 (3087, np.float64(0.05648030498156682)),
 (111, np.float64(0.05615311241827345)),
 (1782, np.float64(0.056133741319770475)),
 (581, np.float64(0.05584889171412565)),
 (2666, np.float64(0.05569863434996389)),
 (4313, np.float64(0.055680866334955004)),
 (467, np.float64(0.05558414233378625)),
 (3950, np.float64(0.05557843197630144)),
 (637, np.float64(0.055530323992196054)),
 (692, np.float64(0.05550227121547251)),
 (2781, np.float64(0.05546118769180097)),
 (2583, np.float64(0.055428631480124856)),
 (1096, np.float64(0.05542109226705689)),
 (2193, np.float64(0.055387806428029304)),
 (4106, np.float64(0.055360002113128)),
 (2358, np.float64(0.05535254911209355)),
 (4328, np.float64(0.05529955891128224)),
 (698, np.float64(0.055283922668427105)),
 (187, np.float64(0.055122459007834426)),
 (1302, np.float64(0.05509859022414266)),
 (3971, np.float64(0.0550383313403949)),
 (4187, np.float64(0.05500856864679416)),
 (4326, np.float64(0.05498860872786469)),
 (1796, np.float64(0.05494879170543659)),
 (4459, np.float64(0.05491636785101238)),
 (1524, np.float64(0.054905918219991016)),
 (1402, np.float64(0.05486309486037996)),
 (3389, np.float64(0.05479481363337424)),
 (1604, np.float64(0.054770823245372365)),
 (3191, np.float64(0.05450982584405962)),
 (1353, np.float64(0.0544552083912682)),
 (2366, np.float64(0.05439100386322756)),
 (432, np.float64(0.05434499816951723)),
 (790, np.float64(0.054320962031119024)),
 (236, np.float64(0.05406822125487873)),
 (47, np.float64(0.05402915772868251)),
 (2250, np.float64(0.054007432338060615)),
 (2026, np.float64(0.05396493249419286)),
 (2886, np.float64(0.05391413979499954)),
 (1285, np.float64(0.053912099281543065)),
 (1278, np.float64(0.053796995147341944)),
 (3105, np.float64(0.05365321897191174)),
 (134, np.float64(0.05353235038107362)),
 (4653, np.float64(0.05347581347819065)),
 (4074, np.float64(0.053303347998620854)),
 (1529, np.float64(0.05328538338842734)),
 (1967, np.float64(0.05328328244702937)),
 (2797, np.float64(0.05301900926142964)),
 (2876, np.float64(0.05294827455286669)),
 (85, np.float64(0.05294234222747009)),
 (2995, np.float64(0.05280633650595321)),
 (3364, np.float64(0.052804381475092685)),
 (3899, np.float64(0.05280019587790146)),
 (4630, np.float64(0.05267804846556564)),
 (3723, np.float64(0.05255574046964434)),
 (678, np.float64(0.05237786366328985)),
 (487, np.float64(0.05234228729933499)),
 (1201, np.float64(0.05231166375469247)),
 (875, np.float64(0.05229125321057151)),
 (2783, np.float64(0.05215209095004122)),
 (3303, np.float64(0.0521233339630895)),
 (3434, np.float64(0.052116600709868934)),
 (239, np.float64(0.0520985129209523)),
 (3944, np.float64(0.05207441609474689)),
 (461, np.float64(0.05205326646035616)),
 (1928, np.float64(0.05203204400949263)),
 (502, np.float64(0.05200746113408414)),
 (1319, np.float64(0.05193212714468897)),
 (3052, np.float64(0.0519036756434406)),
 (2403, np.float64(0.05188184359024557)),
 (1336, np.float64(0.05177977824410001)),
 (2956, np.float64(0.0517231666321724)),
 (3297, np.float64(0.051614779780561)),
 (3913, np.float64(0.051473946202348665)),
 (1741, np.float64(0.05144290638009145)),
 (1211, np.float64(0.05141894834497656)),
 (871, np.float64(0.051371851207094706)),
 (3158, np.float64(0.051338388334167095)),
 (2874, np.float64(0.05129024679813455)),
 (4213, np.float64(0.051211089665585026)),
 (2132, np.float64(0.051149832331414485)),
 (1246, np.float64(0.05103451606729295)),
 (2958, np.float64(0.051028755999466394)),
 (2658, np.float64(0.05098467721623201)),
 (1256, np.float64(0.05097114857990919)),
 (4542, np.float64(0.050961155310364194)),
 (1678, np.float64(0.0509076453619635)),
 (3607, np.float64(0.05085310915562352)),
 (2860, np.float64(0.05081924644171685)),
 (1188, np.float64(0.05072925414953767)),
 (222, np.float64(0.05070420676484065)),
 (1053, np.float64(0.05061927061933176)),
 (1822, np.float64(0.050537618500136355)),
 (4038, np.float64(0.05053339416909444)),
 (4602, np.float64(0.050214162286874045)),
 (3908, np.float64(0.05012478553377483)),
 (3991, np.float64(0.05012008246626015)),
 (1753, np.float64(0.05011422351364979)),
 (363, np.float64(0.05008392538849113)),
 (1727, np.float64(0.0500157721244164)),
 (274, np.float64(0.049970162588963675)),
 (1020, np.float64(0.049939533913315445)),
 (4661, np.float64(0.049901573584295866)),
 (29, np.float64(0.04983222863291559)),
 (270, np.float64(0.049746647019874246)),
 (3556, np.float64(0.04970936159566374)),
 (2408, np.float64(0.04968809528151711)),
 (3312, np.float64(0.04968228807555808)),
 (1594, np.float64(0.04967109924244136)),
 (4260, np.float64(0.04959864730415693)),
 (3259, np.float64(0.04958857779315944)),
 (1271, np.float64(0.04958203258254157)),
 (2561, np.float64(0.04955777073397404)),
 (131, np.float64(0.04947546227717857)),
 (4045, np.float64(0.04944784470660054)),
 (473, np.float64(0.04940254190296998)),
 (300, np.float64(0.04937679483617155)),
 (3427, np.float64(0.04935672349084069)),
 (4321, np.float64(0.04924102849360264)),
 (4288, np.float64(0.04916588487379756)),
 (2859, np.float64(0.049021058064241646)),
 (3718, np.float64(0.048946544843648354)),
 (1328, np.float64(0.04894003220450921)),
 (406, np.float64(0.04893959826996024)),
 (2081, np.float64(0.04892902741288395)),
 (3665, np.float64(0.04881324943364537)),
 (372, np.float64(0.04875953252306404)),
 (2314, np.float64(0.04870849668766815)),
 (4119, np.float64(0.04869629734931083)),
 (3018, np.float64(0.0484999247454041)),
 (184, np.float64(0.048461833492497934)),
 (2518, np.float64(0.0484262053437182)),
 (612, np.float64(0.04842514555898168)),
 (466, np.float64(0.04841092106331629)),
 (946, np.float64(0.04838759881576787)),
 (1113, np.float64(0.04835587211463425)),
 (3068, np.float64(0.04830816780398172)),
 (307, np.float64(0.048211855125403526)),
 (1449, np.float64(0.04813436910481432)),
 (990, np.float64(0.04811859009204177)),
 (2051, np.float64(0.04809195094862979)),
 (3410, np.float64(0.04802744218864022)),
 (2361, np.float64(0.04798533759315335)),
 (1506, np.float64(0.04797937848898207)),
 (1463, np.float64(0.04787825927970609)),
 (758, np.float64(0.04781531359722902)),
 (3449, np.float64(0.04772429629257958)),
 (4123, np.float64(0.047703764569363115)),
 (1375, np.float64(0.04765075387403537)),
 (3493, np.float64(0.04761506727616094)),
 (3925, np.float64(0.047576278137899816)),
 (2711, np.float64(0.047543817746922144)),
 (4323, np.float64(0.04754180563002035)),
 (3547, np.float64(0.04739990142185057)),
 (2381, np.float64(0.04739075511966708)),
 (1892, np.float64(0.047256991618070475)),
 (3945, np.float64(0.04722251720582634)),
 (3714, np.float64(0.047180547198137975)),
 (3249, np.float64(0.047157041507681643)),
 (3294, np.float64(0.04715272014203629)),
 (588, np.float64(0.047116071385896505)),
 (2240, np.float64(0.04706706618610977)),
 (1086, np.float64(0.04705553636602143)),
 (1414, np.float64(0.04699303125504751)),
 (3725, np.float64(0.04698740922902444)),
 (3804, np.float64(0.04685433720194091)),
 (454, np.float64(0.04684331660419565)),
 (835, np.float64(0.046799144316749385)),
 (3461, np.float64(0.04674638573735991)),
 (2304, np.float64(0.04671925280892491)),
 (1672, np.float64(0.046695117715518826)),
 (4617, np.float64(0.04659220084741549)),
 (230, np.float64(0.046536587237209076)),
 (513, np.float64(0.04649202600003768)),
 (1665, np.float64(0.046472173550715735)),
 (2043, np.float64(0.04647201577313401)),
 (3318, np.float64(0.04645105912337903)),
 (2235, np.float64(0.046433179703465874)),
 (1692, np.float64(0.046397699044885624)),
 (418, np.float64(0.04638431472189628)),
 (1477, np.float64(0.046356125098806905)),
 (3610, np.float64(0.046352335334436744)),
 (1272, np.float64(0.04623959535255921)),
 (2179, np.float64(0.046208336418507495)),
 (2232, np.float64(0.0461977130570093)),
 (3789, np.float64(0.046170971148957546)),
 (4783, np.float64(0.046145349241424674)),
 (2147, np.float64(0.04604038300144614)),
 (3, np.float64(0.04603851635414863)),
 (794, np.float64(0.046037822189746974)),
 (488, np.float64(0.045926358760960115)),
 (2647, np.float64(0.04590451387275902)),
 (4, np.float64(0.04580041035069763)),
 (3472, np.float64(0.045780236924563275)),
 (4632, np.float64(0.04577553092072699)),
 (854, np.float64(0.0456956558609607)),
 (2757, np.float64(0.04566963053976561)),
 (1264, np.float64(0.04565197679190048)),
 (3195, np.float64(0.0455853183936602)),
 (401, np.float64(0.04553353821462547)),
 (40, np.float64(0.045525579999110305)),
 (1984, np.float64(0.04547540783159657)),
 (2913, np.float64(0.04546280862864702)),
 (4006, np.float64(0.0454167954341832)),
 (531, np.float64(0.04539275140739068)),
 (5, np.float64(0.0453715671874144)),
 (170, np.float64(0.04533030634432945)),
 (3764, np.float64(0.04527734594199084)),
 (2651, np.float64(0.04527214877379239)),
 (672, np.float64(0.04517097676629222)),
 (2229, np.float64(0.04516234869490639)),
 (584, np.float64(0.045137678393173175)),
 (1005, np.float64(0.045092199052757444)),
 (1999, np.float64(0.04500199274681738)),
 (863, np.float64(0.044951122297468844)),
 (2541, np.float64(0.044941231731046596)),
 (4654, np.float64(0.044844943924234604)),
 (3742, np.float64(0.0447691213045143)),
 (3550, np.float64(0.044703200819784523)),
 (4007, np.float64(0.04470021138127191)),
 (729, np.float64(0.04469691378010294)),
 (2704, np.float64(0.04460971554118979)),
 (3477, np.float64(0.04460818430016316)),
 (4247, np.float64(0.044604677263583095)),
 (1523, np.float64(0.04458240113456417)),
 (4111, np.float64(0.044461929955404114)),
 (2976, np.float64(0.044419857486727)),
 (3386, np.float64(0.04439601800785387)),
 (4309, np.float64(0.044383325950127055)),
 (2815, np.float64(0.044365939491454134)),
 (3656, np.float64(0.04431193682517914)),
 (1619, np.float64(0.04428624905088566)),
 (1758, np.float64(0.044254138126430316)),
 (3401, np.float64(0.044248372889713866)),
 (1412, np.float64(0.04423810867618043)),
 (163, np.float64(0.044217526091673814)),
 (1957, np.float64(0.044191462724038524)),
 (4273, np.float64(0.04418634318135375)),
 (1012, np.float64(0.04418405765150679)),
 (3089, np.float64(0.04415691569492587)),
 (3432, np.float64(0.04415294928267597)),
 (1921, np.float64(0.04411823862353649)),
 (2011, np.float64(0.04405907734851552)),
 (804, np.float64(0.04403769912061624)),
 (3923, np.float64(0.04403126452853828)),
 (1539, np.float64(0.04390867424349306)),
 (2863, np.float64(0.043851937429220604)),
 (761, np.float64(0.04373280144219559)),
 (294, np.float64(0.04371911742488809)),
 (3501, np.float64(0.0436176911987152)),
 (3351, np.float64(0.043599913945798395)),
 (1763, np.float64(0.043492802901035035)),
 (4629, np.float64(0.04349250476173191)),
 (421, np.float64(0.043421571036156716)),
 (2513, np.float64(0.04336793324375522)),
 (745, np.float64(0.0433676663559925)),
 (4231, np.float64(0.043349864825385734)),
 (717, np.float64(0.043292338351881295)),
 (4164, np.float64(0.043208912489774313)),
 (4070, np.float64(0.04319703900263891)),
 (522, np.float64(0.04314584627034009)),
 (2227, np.float64(0.04313945972829091)),
 (2819, np.float64(0.043136447067575044)),
 (277, np.float64(0.04306755597431306)),

### 2. TF-IDF + Cosine Similarity (Kolom `genres`)
Pemodelan ini bertujuan untuk membandingkan hasil rekomendasi dengan model yang sama dengan menggunakan kolom `overview`

Inisisasi vectorizer TF-IDF

In [326]:
tfv_genres = TfidfVectorizer()

fitting TF-IDF ke kolom `genres`

In [327]:
tfidf_genres_matrix = tfv_genres.fit_transform(df['genres'])
tfidf_genres_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 12703 stored elements and shape (4803, 22)>

Ukuran matriks TF-IDF `genres`

In [328]:
tfidf_genres_matrix.shape

(4803, 22)

Inisiasi fungsi *cosine similarity*

In [329]:
cos_tfidf_genres = cosine_similarity(tfidf_genres_matrix)
cos_tfidf_genres[0]

array([1.        , 0.74526744, 0.42944732, ..., 0.        , 0.        ,
       0.        ], shape=(4803,))

Buat fungsi sistem rekomendasi

In [330]:
def recommend_tfidf_cossim_genres(title, cos_tfidf_genres=cos_tfidf_genres):
  # Get the original_title index
  idx = indices[title]
  
  # Get the pairwise similarity scores
  cos_tfidf_genres_scores = list(enumerate(cos_tfidf_genres[idx]))
  
  # Sort movies
  cos_tfidf_genres_scores = sorted(cos_tfidf_genres_scores, key=lambda x: x[1], reverse=True)
  
  # Scores of the top 10 most similar movies
  cos_tfidf_genres_scores = cos_tfidf_genres_scores[1:6]
  
  # Movie indices 
  movie_indices = [i[0] for i in cos_tfidf_genres_scores]
  
  return df['original_title'].iloc[movie_indices]

Uji coba fungsi

In [331]:
tfidf_genres_test = recommend_tfidf_cossim_genres('Avatar')
print("5 Recommend Films Based on Avatar:")
tfidf_genres_test

5 Recommend Films Based on Avatar:

10               Superman Returns
14                   Man of Steel
46     X-Men: Days of Future Past
61              Jupiter Ascending
232                 The Wolverine
Name: original_title, dtype: object

Cek nilai *cosine similarity* untuk 10 film rekomendasi teratas

In [332]:
sorted(list(enumerate(cos_tfidf_genres[indices['Avatar']])), key=lambda x: x[1], reverse=True)

[(0, np.float64(1.0)),
 (10, np.float64(1.0)),
 (14, np.float64(1.0)),
 (46, np.float64(1.0)),
 (61, np.float64(1.0)),
 (232, np.float64(1.0)),
 (813, np.float64(1.0)),
 (870, np.float64(1.0)),
 (3494, np.float64(1.0)),
 (238, np.float64(0.958074089745822)),
 (618, np.float64(0.958074089745822)),
 (1191, np.float64(0.958074089745822)),
 (1296, np.float64(0.958074089745822)),
 (1932, np.float64(0.958074089745822)),
 (322, np.float64(0.9457531478388126)),
 (1230, np.float64(0.9457531478388126)),
 (1390, np.float64(0.9457531478388126)),
 (1652, np.float64(0.9457531478388126)),
 (419, np.float64(0.9336770329033672)),
 (420, np.float64(0.9336770329033672)),
 (426, np.float64(0.9336770329033672)),
 (72, np.float64(0.9177700265018054)),
 (728, np.float64(0.9102712779861778)),
 (1611, np.float64(0.9102712779861778)),
 (1802, np.float64(0.9102712779861778)),
 (2592, np.float64(0.9102712779861778)),
 (859, np.float64(0.8711812646335949)),
 (2069, np.float64(0.8711812646335949)),
 (1936, np.float64(0.8647951352758835)),
 (4, np.float64(0.8626875661764372)),
 (7, np.float64(0.8626875661764372)),
 (16, np.float64(0.8626875661764372)),
 (26, np.float64(0.8626875661764372)),
 (31, np.float64(0.8626875661764372)),
 (35, np.float64(0.8626875661764372)),
 (36, np.float64(0.8626875661764372)),
 (39, np.float64(0.8626875661764372)),
 (47, np.float64(0.8626875661764372)),
 (51, np.float64(0.8626875661764372)),
 (52, np.float64(0.8626875661764372)),
 (56, np.float64(0.8626875661764372)),
 (59, np.float64(0.8626875661764372)),
 (68, np.float64(0.8626875661764372)),
 (79, np.float64(0.8626875661764372)),
 (85, np.float64(0.8626875661764372)),
 (91, np.float64(0.8626875661764372)),
 (94, np.float64(0.8626875661764372)),
 (101, np.float64(0.8626875661764372)),
 (102, np.float64(0.8626875661764372)),
 (111, np.float64(0.8626875661764372)),
 (158, np.float64(0.8626875661764372)),
 (169, np.float64(0.8626875661764372)),
 (174, np.float64(0.8626875661764372)),
 (182, np.float64(0.8626875661764372)),
 (183, np.float64(0.8626875661764372)),
 (193, np.float64(0.8626875661764372)),
 (207, np.float64(0.8626875661764372)),
 (229, np.float64(0.8626875661764372)),
 (230, np.float64(0.8626875661764372)),
 (233, np.float64(0.8626875661764372)),
 (242, np.float64(0.8626875661764372)),
 (260, np.float64(0.8626875661764372)),
 (400, np.float64(0.8626875661764372)),
 (466, np.float64(0.8626875661764372)),
 (483, np.float64(0.8626875661764372)),
 (495, np.float64(0.8626875661764372)),
 (507, np.float64(0.8626875661764372)),
 (508, np.float64(0.8626875661764372)),
 (511, np.float64(0.8626875661764372)),
 (577, np.float64(0.8626875661764372)),
 (1079, np.float64(0.8626875661764372)),
 (1490, np.float64(0.8626875661764372)),
 (1990, np.float64(0.8626875661764372)),
 (2372, np.float64(0.8626875661764372)),
 (2433, np.float64(0.8626875661764372)),
 (2444, np.float64(0.8626875661764372)),
 (2492, np.float64(0.8626875661764372)),
 (2912, np.float64(0.8626875661764372)),
 (2995, np.float64(0.8626875661764372)),
 (3305, np.float64(0.8626875661764372)),
 (4042, np.float64(0.8626875661764372)),
 (4117, np.float64(0.8626875661764372)),
 (654, np.float64(0.8624105063240092)),
 (1192, np.float64(0.8624105063240092)),
 (2163, np.float64(0.8624105063240092)),
 (931, np.float64(0.861886901539146)),
 (3208, np.float64(0.8600533849924441)),
 (505, np.float64(0.8516444347008383)),
 (1110, np.float64(0.8516444347008383)),
 (1341, np.float64(0.8516444347008383)),
 (661, np.float64(0.8312159352159411)),
 (2967, np.float64(0.8312159352159411)),
 (168, np.float64(0.8248082435493885)),
 (150, np.float64(0.8151002341483999)),
 (342, np.float64(0.8151002341483999)),
 (27, np.float64(0.8014821683690976)),
 (28, np.float64(0.8014821683690976)),
 (33, np.float64(0.8014821683690976)),
 (41, np.float64(0.8014821683690976)),
 (76, np.float64(0.8014821683690976)),
 (108, np.float64(0.8014821683690976)),
 (122, np.float64(0.8014821683690976)),
 (123, np.float64(0.8014821683690976)),
 (125, np.float64(0.8014821683690976)),
 (127, np.float64(0.8014821683690976)),
 (149, np.float64(0.8014821683690976)),
 (166, np.float64(0.8014821683690976)),
 (203, np.float64(0.8014821683690976)),
 (212, np.float64(0.8014821683690976)),
 (271, np.float64(0.8014821683690976)),
 (278, np.float64(0.8014821683690976)),
 (300, np.float64(0.8014821683690976)),
 (334, np.float64(0.8014821683690976)),
 (412, np.float64(0.8014821683690976)),
 (490, np.float64(0.8014821683690976)),
 (581, np.float64(0.8014821683690976)),
 (587, np.float64(0.8014821683690976)),
 (755, np.float64(0.8014821683690976)),
 (939, np.float64(0.8014821683690976)),
 (976, np.float64(0.8014821683690976)),
 (1001, np.float64(0.8014821683690976)),
 (1034, np.float64(0.8014821683690976)),
 (1083, np.float64(0.8014821683690976)),
 (1201, np.float64(0.8014821683690976)),
 (1294, np.float64(0.8014821683690976)),
 (1303, np.float64(0.8014821683690976)),
 (1531, np.float64(0.8014821683690976)),
 (1583, np.float64(0.8014821683690976)),
 (1750, np.float64(0.8014821683690976)),
 (2066, np.float64(0.8014821683690976)),
 (2317, np.float64(0.8014821683690976)),
 (2327, np.float64(0.8014821683690976)),
 (2815, np.float64(0.8014821683690976)),
 (4077, np.float64(0.8014821683690976)),
 (4670, np.float64(0.8014821683690976)),
 (4160, np.float64(0.8001174256057779)),
 (4399, np.float64(0.8001174256057779)),
 (1086, np.float64(0.7993525348457213)),
 (2127, np.float64(0.7993525348457213)),
 (2826, np.float64(0.7993525348457213)),
 (473, np.float64(0.7880598182000682)),
 (1085, np.float64(0.7880598182000682)),
 (1259, np.float64(0.7880598182000682)),
 (1274, np.float64(0.7880598182000682)),
 (1643, np.float64(0.7880598182000682)),
 (3386, np.float64(0.7880598182000682)),
 (3800, np.float64(0.7880598182000682)),
 (256, np.float64(0.7848456145043177)),
 (675, np.float64(0.7848456145043177)),
 (1326, np.float64(0.7848456145043177)),
 (1959, np.float64(0.7848456145043177)),
 (3405, np.float64(0.7848456145043177)),
 (83, np.float64(0.7841099108585519)),
 (3350, np.float64(0.7841099108585519)),
 (410, np.float64(0.7781141964612871)),
 (1825, np.float64(0.7739362222031595)),
 (1626, np.float64(0.7656869143531532)),
 (768, np.float64(0.7650132184885778)),
 (1213, np.float64(0.7650132184885778)),
 (2157, np.float64(0.7650132184885778)),
 (74, np.float64(0.7568511322327622)),
 (223, np.float64(0.7568511322327622)),
 (224, np.float64(0.7568511322327622)),
 (266, np.float64(0.7568511322327622)),
 (415, np.float64(0.7568511322327622)),
 (582, np.float64(0.7568511322327622)),
 (634, np.float64(0.7568511322327622)),
 (854, np.float64(0.7568511322327622)),
 (1153, np.float64(0.7568511322327622)),
 (1270, np.float64(0.7568511322327622)),
 (1608, np.float64(0.7568511322327622)),
 (1650, np.float64(0.7568511322327622)),
 (3089, np.float64(0.7568511322327622)),
 (3460, np.float64(0.7568511322327622)),
 (4012, np.float64(0.7568511322327622)),
 (4176, np.float64(0.7568511322327622)),
 (4187, np.float64(0.7568511322327622)),
 (4193, np.float64(0.7568511322327622)),
 (799, np.float64(0.7553560122010265)),
 (1093, np.float64(0.7553560122010265)),
 (4344, np.float64(0.7553560122010265)),
 (2129, np.float64(0.754721046623787)),
 (95, np.float64(0.7460049869743728)),
 (270, np.float64(0.7460049869743728)),
 (363, np.float64(0.7460049869743728)),
 (2375, np.float64(0.7460049869743728)),
 (3568, np.float64(0.7460049869743728)),
 (4332, np.float64(0.7460049869743728)),
 (1, np.float64(0.7452674431818087)),
 (5, np.float64(0.7452674431818087)),
 (9, np.float64(0.7452674431818087)),
 (12, np.float64(0.7452674431818087)),
 (17, np.float64(0.7452674431818087)),
 (19, np.float64(0.7452674431818087)),
 (20, np.float64(0.7452674431818087)),
 (30, np.float64(0.7452674431818087)),
 (38, np.float64(0.7452674431818087)),
 (71, np.float64(0.7452674431818087)),
 (98, np.float64(0.7452674431818087)),
 (107, np.float64(0.7452674431818087)),
 (126, np.float64(0.7452674431818087)),
 (129, np.float64(0.7452674431818087)),
 (199, np.float64(0.7452674431818087)),
 (206, np.float64(0.7452674431818087)),
 (208, np.float64(0.7452674431818087)),
 (262, np.float64(0.7452674431818087)),
 (315, np.float64(0.7452674431818087)),
 (329, np.float64(0.7452674431818087)),
 (330, np.float64(0.7452674431818087)),
 (379, np.float64(0.7452674431818087)),
 (486, np.float64(0.7452674431818087)),
 (715, np.float64(0.7452674431818087)),
 (746, np.float64(0.7452674431818087)),
 (786, np.float64(0.7452674431818087)),
 (836, np.float64(0.7452674431818087)),
 (1438, np.float64(0.7452674431818087)),
 (2343, np.float64(0.7452674431818087)),
 (2390, np.float64(0.7452674431818087)),
 (2490, np.float64(0.7452674431818087)),
 (2655, np.float64(0.7452674431818087)),
 (1518, np.float64(0.7444174273858473)),
 (2442, np.float64(0.7378076492056683)),
 (371, np.float64(0.7373048336526411)),
 (972, np.float64(0.7373048336526411)),
 (306, np.float64(0.733406811562362)),
 (1217, np.float64(0.733406811562362)),
 (1344, np.float64(0.733406811562362)),
 (2991, np.float64(0.733406811562362)),
 (4039, np.float64(0.733406811562362)),
 (228, np.float64(0.733215082920801)),
 (97, np.float64(0.7309840283319441)),
 (1495, np.float64(0.7290552911190398)),
 (2884, np.float64(0.7290552911190398)),
 (3552, np.float64(0.7290552911190398)),
 (1238, np.float64(0.7274490873821835)),
 (3929, np.float64(0.7274490873821835)),
 (4325, np.float64(0.7274490873821835)),
 (2046, np.float64(0.7264809824274121)),
 (305, np.float64(0.7234951402548995)),
 (977, np.float64(0.7234951402548995)),
 (1984, np.float64(0.7234951402548995)),
 (1044, np.float64(0.7222374635878397)),
 (1155, np.float64(0.7222374635878397)),
 (1827, np.float64(0.7222374635878397)),
 (413, np.float64(0.7198985018865502)),
 (814, np.float64(0.7198985018865502)),
 (1016, np.float64(0.7198985018865502)),
 (1569, np.float64(0.7198985018865502)),
 (185, np.float64(0.7189912311940447)),
 (200, np.float64(0.7189912311940447)),
 (249, np.float64(0.7189912311940447)),
 (165, np.float64(0.7167940780342406)),
 (257, np.float64(0.7167940780342406)),
 (1286, np.float64(0.7167940780342406)),
 (1872, np.float64(0.7132473241784257)),
 (84, np.float64(0.7046869024483912)),
 (784, np.float64(0.7046869024483912)),
 (3856, np.float64(0.7046869024483912)),
 (18, np.float64(0.703893111287215)),
 (311, np.float64(0.703893111287215)),
 (319, np.float64(0.703893111287215)),
 (362, np.float64(0.703893111287215)),
 (1428, np.float64(0.703893111287215)),
 (2155, np.float64(0.703893111287215)),
 (2781, np.float64(0.703893111287215)),
 (3184, np.float64(0.703893111287215)),
 (4401, np.float64(0.703893111287215)),
 (4450, np.float64(0.703893111287215)),
 (4623, np.float64(0.703893111287215)),
 (4724, np.float64(0.702921850620156)),
 (1277, np.float64(0.7021900364278183)),
 (2758, np.float64(0.7014170475401632)),
 (4251, np.float64(0.6961025324093439)),
 (96, np.float64(0.6945182399875247)),
 (607, np.float64(0.6945182399875247)),
 (732, np.float64(0.6945182399875247)),
 (1976, np.float64(0.6941461854484767)),
 (2851, np.float64(0.6941461854484767)),
 (241, np.float64(0.6916583965640648)),
 (1918, np.float64(0.6916583965640648)),
 (43, np.float64(0.6891840650800578)),
 (93, np.float64(0.6891840650800578)),
 (279, np.float64(0.6891840650800578)),
 (366, np.float64(0.6891840650800578)),
 (449, np.float64(0.6891840650800578)),
 (476, np.float64(0.6891840650800578)),
 (487, np.float64(0.6891840650800578)),
 (601, np.float64(0.6891840650800578)),
 (658, np.float64(0.6891840650800578)),
 (718, np.float64(0.6891840650800578)),
 (994, np.float64(0.6891840650800578)),
 (1002, np.float64(0.6891840650800578)),
 (1272, np.float64(0.6891840650800578)),
 (1319, np.float64(0.6891840650800578)),
 (1399, np.float64(0.6891840650800578)),
 (1412, np.float64(0.6891840650800578)),
 (1491, np.float64(0.6891840650800578)),
 (1568, np.float64(0.6891840650800578)),
 (1633, np.float64(0.6891840650800578)),
 (1826, np.float64(0.6891840650800578)),
 (1995, np.float64(0.6891840650800578)),
 (2047, np.float64(0.6891840650800578)),
 (2198, np.float64(0.6891840650800578)),
 (2253, np.float64(0.6891840650800578)),
 (2320, np.float64(0.6891840650800578)),
 (2486, np.float64(0.6891840650800578)),
 (2639, np.float64(0.6891840650800578)),
 (2868, np.float64(0.6891840650800578)),
 (3439, np.float64(0.6891840650800578)),
 (1914, np.float64(0.6851404462386123)),
 (3993, np.float64(0.68350480027848)),
 (2258, np.float64(0.682733630719391)),
 (215, np.float64(0.6768274790650837)),
 (332, np.float64(0.6768274790650837)),
 (369, np.float64(0.6768274790650837)),
 (1266, np.float64(0.6768274790650837)),
 (920, np.float64(0.675432197833051)),
 (922, np.float64(0.675432197833051)),
 (1617, np.float64(0.6754150654294613)),
 (2262, np.float64(0.6727398704946197)),
 (1468, np.float64(0.6727208083138955)),
 (4669, np.float64(0.6710901286803592)),
 (461, np.float64(0.6704402511083295)),
 (960, np.float64(0.6704402511083295)),
 (2755, np.float64(0.6704402511083295)),
 (64, np.float64(0.6667656545843147)),
 (373, np.float64(0.6667656545843147)),
 (422, np.float64(0.6667656545843147)),
 (549, np.float64(0.6667656545843147)),
 (1415, np.float64(0.6667656545843147)),
 (1554, np.float64(0.6667656545843147)),
 (2900, np.float64(0.6667656545843147)),
 (2934, np.float64(0.6667656545843147)),
 (3024, np.float64(0.6667656545843147)),
 (3214, np.float64(0.6667656545843147)),
 (3956, np.float64(0.6667656545843147)),
 (4254, np.float64(0.6667656545843147)),
 (4276, np.float64(0.6667656545843147)),
 (4741, np.float64(0.6667656545843147)),
 (3006, np.float64(0.6645322091904411)),
 (103, np.float64(0.6588549474815466)),
 (82, np.float64(0.6585301354793434)),
 (222, np.float64(0.6585301354793434)),
 (335, np.float64(0.6585301354793434)),
 (376, np.float64(0.6585301354793434)),
 (510, np.float64(0.6585301354793434)),
 (850, np.float64(0.6585301354793434)),
 (929, np.float64(0.6585301354793434)),
 (3668, np.float64(0.6585301354793434)),
 (4734, np.float64(0.6585301354793434)),
 (50, np.float64(0.6582123742023127)),
 (1008, np.float64(0.6570536642801668)),
 (22, np.float64(0.6535873037613154)),
 (23, np.float64(0.6535873037613154)),
 (331, np.float64(0.6535873037613154)),
 (3777, np.float64(0.6535873037613154)),
 (2577, np.float64(0.6528051206197807)),
 (1358, np.float64(0.6519733973611674)),
 (220, np.float64(0.6485739944180723)),
 (1367, np.float64(0.6485739944180723)),
 (2966, np.float64(0.6485739944180723)),
 (3899, np.float64(0.6485739944180723)),
 (735, np.float64(0.6484842487498818)),
 (4425, np.float64(0.6484842487498818)),
 (539, np.float64(0.646714946426455)),
 (657, np.float64(0.6406960927099409)),
 (740, np.float64(0.6406960927099409)),
 (838, np.float64(0.6406960927099409)),
 (956, np.float64(0.6406960927099409)),
 (1070, np.float64(0.6406960927099409)),
 (1377, np.float64(0.6406960927099409)),
 (1395, np.float64(0.6406960927099409)),
 (1735, np.float64(0.6406960927099409)),
 (3988, np.float64(0.6406960927099409)),
 (4327, np.float64(0.6406960927099409)),
 (225, np.float64(0.6400422003564503)),
 (778, np.float64(0.6375181304443183)),
 (1068, np.float64(0.6375181304443183)),
 (1152, np.float64(0.6375181304443183)),
 (1165, np.float64(0.6375181304443183)),
 (2285, np.float64(0.6375181304443183)),
 (472, np.float64(0.6359164075759609)),
 (70, np.float64(0.6309029004825324)),
 (1939, np.float64(0.6281081881030237)),
 (1794, np.float64(0.6279814457977976)),
 (138, np.float64(0.6274529006241633)),
 (292, np.float64(0.6274529006241633)),
 (467, np.float64(0.6274529006241633)),
 (1028, np.float64(0.6261346227169218)),
 (301, np.float64(0.6222946892579276)),
 (1015, np.float64(0.6222946892579276)),
 (1864, np.float64(0.6222946892579276)),
 (2087, np.float64(0.6222946892579276)),
 (2638, np.float64(0.6222946892579276)),
 (2752, np.float64(0.6222946892579276)),
 (3155, np.float64(0.6222946892579276)),
 (3396, np.float64(0.6222946892579276)),
 (3624, np.float64(0.6222946892579276)),
 (4379, np.float64(0.6222946892579276)),
 (4398, np.float64(0.6222946892579276)),
 (4651, np.float64(0.6222946892579276)),
 (4688, np.float64(0.6222946892579276)),
 (4700, np.float64(0.6222946892579276)),
 (115, np.float64(0.6196913436488682)),
 (159, np.float64(0.6196913436488682)),
 (428, np.float64(0.6196913436488682)),
 (668, np.float64(0.6196913436488682)),
 (1359, np.float64(0.6196913436488682)),
 (2100, np.float64(0.6196913436488682)),
 (3607, np.float64(0.6196913436488682)),
 (4654, np.float64(0.6196913436488682)),
 (3613, np.float64(0.6189225783054207)),
 (163, np.float64(0.6180997798787513)),
 (442, np.float64(0.6113086025999823)),
 (1517, np.float64(0.6113086025999823)),
 (1625, np.float64(0.6113086025999823)),
 (1715, np.float64(0.6113086025999823)),
 (80, np.float64(0.6083996409779523)),
 (583, np.float64(0.6083996409779523)),
 (375, np.float64(0.6083740297980139)),
 (2015, np.float64(0.6083740297980139)),
 (2482, np.float64(0.6083740297980139)),
 (2605, np.float64(0.6083740297980139)),
 (3534, np.float64(0.6083740297980139)),
 (3987, np.float64(0.6083740297980139)),
 (4156, np.float64(0.6083740297980139)),
 (4563, np.float64(0.6076058488910301)),
 (184, np.float64(0.5983772710218617)),
 (1029, np.float64(0.5983772710218617)),
 (1482, np.float64(0.5980692749791934)),
 (2084, np.float64(0.5980692749791934)),
 (2403, np.float64(0.5980692749791934)),
 (3133, np.float64(0.5980692749791934)),
 (3158, np.float64(0.5980692749791934)),
 (3361, np.float64(0.5980692749791934)),
 (3749, np.float64(0.5980692749791934)),
 (3920, np.float64(0.5980692749791934)),
 (2389, np.float64(0.5956780246271851)),
 (121, np.float64(0.5944451661648052)),
 (131, np.float64(0.5944451661648052)),
 (243, np.float64(0.5944451661648052)),
 (403, np.float64(0.5944451661648052)),
 (1686, np.float64(0.5944451661648052)),
 (1402, np.float64(0.5943259929941759)),
 (3004, np.float64(0.5943259929941759)),
 (4579, np.float64(0.5943259929941759)),
 (502, np.float64(0.5927247792255196)),
 (723, np.float64(0.5927247792255196)),
 (1275, np.float64(0.5927247792255196)),
 (1902, np.float64(0.5927247792255196)),
 (2654, np.float64(0.5927247792255196)),
 (2743, np.float64(0.5927247792255196)),
 (2817, np.float64(0.5927247792255196)),
 (2865, np.float64(0.5927247792255196)),
 (3427, np.float64(0.5927247792255196)),
 (4003, np.float64(0.5927247792255196)),
 (4758, np.float64(0.5927247792255196)),
 (4787, np.float64(0.5927247792255196)),
 (4487, np.float64(0.591798205789112)),
 (782, np.float64(0.582368412717295)),
 (4267, np.float64(0.5818401901770058)),
 (275, np.float64(0.5795651490402309)),
 (1465, np.float64(0.5795651490402309)),
 (87, np.float64(0.5794201917150649)),
 (3329, np.float64(0.5785435200166342)),
 (45, np.float64(0.5777056888823695)),
 (116, np.float64(0.5777056888823695)),
 (542, np.float64(0.5777056888823695)),
 (3795, np.float64(0.5777056888823695)),
 (2862, np.float64(0.5740296712692978)),
 (2791, np.float64(0.5733665474735266)),
 (81, np.float64(0.5728081138106589)),
 (537, np.float64(0.572567950826917)),
 (1095, np.float64(0.572567950826917)),
 (1757, np.float64(0.5708875375628684)),
 (480, np.float64(0.5687405933245268)),
 (541, np.float64(0.5687405933245268)),
 (67, np.float64(0.5632383268884505)),
 (358, np.float64(0.5632383268884505)),
 (239, np.float64(0.5608285129379769)),
 (454, np.float64(0.5608285129379769)),
 (545, np.float64(0.5608285129379769)),
 (720, np.float64(0.5608285129379769)),
 (1111, np.float64(0.5608285129379769)),
 (1473, np.float64(0.5608285129379769)),
 (1725, np.float64(0.5608285129379769)),
 (2636, np.float64(0.5608285129379769)),
 (2726, np.float64(0.5608285129379769)),
 (2824, np.float64(0.5608285129379769)),
 (3556, np.float64(0.5608285129379769)),
 (4032, np.float64(0.5608285129379769)),
 (4542, np.float64(0.5608285129379769)),
 (4693, np.float64(0.5608285129379769)),
 (4764, np.float64(0.5608285129379769)),
 (4796, np.float64(0.5608285129379769)),
 (349, np.float64(0.5597413928940564)),
 (148, np.float64(0.5581001723893182)),
 (894, np.float64(0.5581001723893182)),
 (543, np.float64(0.5563215943319504)),

### 3. BERT + Cosine Similarity (Kolom `overview`)
BERT (Bidirectional Encoder Representations from Transformers) merupakan salah satu model yang paling populer dalam bidang NLP. BERT menggunakan teknik self-supervised learning untuk menghasilkan representasi kata yang lebih baik. Untuk pemodelan ini, kembali digunakan *cosine similarity* untuk melihat hubungan antara *embeddings* BERT.

Inisiasi model BERT

In [333]:
model_overview = SentenceTransformer('all-MiniLM-L6-v2') # Salah satu model BERT yang cepat, namun bagus

Encoding kolom `overview`

In [334]:
embeddings_overview = model_overview.encode(df['overview'].tolist(), show_progress_bar=True)

Batches: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 151/151 [00:06<00:00, 23.99it/s]

Inisisasi fungsi *cosine similarity*

In [335]:
cos_bert_overview = cosine_similarity(embeddings_overview, embeddings_overview)

Membuat fungsi sistem rekomendasi

In [336]:
def recommend_bert_overview(title, top_n):
  idx = df[df['original_title'].str.lower() == title.lower()].index[0]
  # Pick recommended rows
  row = cos_bert_overview[idx]
    
  # Sort by the most similar
  similar_indices = row.flatten().argsort()[::-1]
    
  # Drop it's own movie
  similar_indices = similar_indices[similar_indices != idx]
    
  # Pick top_n
  top_indices = similar_indices[:top_n]
    
  # Take a result
  results = []
  for i in top_indices:
    results.append((df.iloc[i]['original_title'], round(row[i], 4)))
  return results

Uji coba fungsi

In [337]:
bert_overview_test = recommend_bert_overview('Avatar', top_n=5)
print("5 Recommend Films Based on Avatar:")
bert_overview_test

5 Recommend Films Based on Avatar:

[('Alien: Resurrection', np.float32(0.4628)),
 ('The Black Hole', np.float32(0.4385)),
 ('Serenity', np.float32(0.4371)),
 ('Aliens', np.float32(0.4227)),
 ('Supernova', np.float32(0.4112))]

### 4. BERT + Cosine Similarity (Kolom `genres`)
Pemodelan ini bertujuan untuk membandingkan hasil rekomendasi dengan model yang sama dengan menggunakan kolom `overview`

Inisiasi model BERT

In [338]:
model_genres = SentenceTransformer('all-MiniLM-L6-v2')

Encoding kolom `genres`

In [ ]:
embeddings_genres = model_genres.encode(df['genres'].tolist(), show_progress_bar=True)

Batches: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 151/151 [00:01<00:00, 81.77it/s]

Membuat fungsi *cosine similarity*

In [ ]:
cos_bert_genres = cosine_similarity(embeddings_genres, embeddings_genres)

Membuat fungsi sistem rekomendasi

In [ ]:
def recommend_bert_genres(title, top_n):
  idx = df[df['original_title'].str.lower() == title.lower()].index[0]
  # Pick recommended rows
  row = cos_bert_genres[idx]
    
  # Sort by the most similar
  similar_indices = row.flatten().argsort()[::-1]
    
  # Drop it's own movie
  similar_indices = similar_indices[similar_indices != idx]
    
  # Pick top_n
  top_indices = similar_indices[:top_n]
    
  # Take a result
  results = []
  for i in top_indices:
    results.append((df.iloc[i]['original_title'], round(row[i], 4)))
  return results

Uji coba fungsi

In [342]:
bert_genres_test = recommend_bert_genres('Avatar', top_n=5)
print("5 Recommend Films Based on Avatar:")
bert_genres_test

5 Recommend Films Based on Avatar:

[('X-Men: Days of Future Past', np.float32(1.0)),
 ('Man of Steel', np.float32(1.0)),
 ('Superman', np.float32(1.0)),
 ('Beastmaster 2: Through the Portal of Time', np.float32(1.0)),
 ('Superman II', np.float32(1.0))]

## Evaluation
Di tahap ini, kedua model dengan empat skema berbeda akan dievaluasi untuk mengetahui mana yang lebih baik. Evaluasi ini akan dilakukan dengan menggunakan  **_Mean Reciprocal Rank_** (MRR) dan **_Normalized Discounted Cumulative Gain_** (NDCG) sebagai metrik evaluasi. MRR akan digunakan untuk menilai kemampuan model dalam menemukan jawaban yang tepat, sedangkan NDCG akan digunakan untuk menilai kemampuan model dalam menemukan jawaban yang relevan.

Karena kedua metrik tersebut membutuhkan *Ground Truth* untuk menguji keakuratan model, maka selanjutnya akan dibuat *Ground Truth* untuk kebutuhan evaluasi kedua model.

### 1. Ground Truth
Pembuatan *ground truth* ini berdasarkan kepopuleran film dari 10 genre yang telah ditentukan. Berikut hasilnya:

In [343]:
# Parsing 'genres' column to list
df['genres'] = df['genres'].apply(lambda x: x.split() if isinstance(x, str) else [])

# Make a ground truth dict
ground_truth = {}

# Set all unique genres
all_genres = set(g for genres_list in df['genres'] for g in genres_list)

for genre in all_genres:
    # Filter all films with the current genre
    df_genre = df[df['genres'].apply(lambda x: genre in x)]
    
    # Sort by top 5 most popular
    df_genre_top5 = df_genre.sort_values(by='popularity', ascending=False).head(6)
    
    for idx, row in df_genre_top5.iterrows():
        film_id = row['id']
        relevant_films = df_genre_top5[df_genre_top5['id'] != film_id]['id'].tolist()
        ground_truth[film_id] = relevant_films

Cek ground truth

In [344]:
ground_truth

{205321: [10947, 13187, 158150, 231617, 22488],
 10947: [205321, 13187, 158150, 231617, 22488],
 13187: [205321, 10947, 158150, 231617, 22488],
 158150: [205321, 10947, 13187, 231617, 22488],
 231617: [205321, 10947, 13187, 158150, 22488],
 22488: [205321, 10947, 13187, 158150, 231617],
 211672: [157336, 293660, 118340, 76341, 135397],
 177572: [211672, 293660, 98566, 257344, 13],
 109445: [211672, 177572, 93456, 150540, 62177],
 93456: [211672, 177572, 109445, 150540, 62177],
 672: [211672, 177572, 109445, 93456, 158852],
 158852: [27205, 210577, 198663, 17578, 2501],
 157336: [211672, 293660, 118340, 76341, 135397],
 118340: [211672, 157336, 293660, 76341, 135397],
 76341: [211672, 157336, 293660, 118340, 135397],
 135397: [211672, 157336, 293660, 118340, 76341],
 119450: [157336, 118340, 76341, 135397, 131631],
 131631: [157336, 118340, 76341, 135397, 119450],
 150540: [211672, 177572, 109445, 93456, 62177],
 62177: [211672, 177572, 109445, 93456, 150540],
 293660: [211672, 157336, 118340, 76341, 135397],
 98566: [22, 209112, 19995, 58, 285],
 257344: [211672, 293660, 177572, 98566, 13],
 13: [8966, 102651, 24021, 150689, 597],
 16290: [1667, 44639, 1777, 13576, 18570],
 1667: [16290, 44639, 1777, 13576, 18570],
 44639: [16290, 1667, 1777, 13576, 18570],
 1777: [16290, 1667, 44639, 13576, 18570],
 13576: [16290, 1667, 44639, 1777, 18570],
 18570: [16290, 1667, 44639, 1777, 13576],
 205596: [228150, 424, 1417, 190859, 857],
 424: [205596, 228150, 1417, 190859, 857],
 76203: [205596, 424, 857, 197, 152532],
 857: [205596, 228150, 424, 1417, 190859],
 197: [205596, 424, 76203, 857, 152532],
 152532: [205596, 424, 76203, 857, 197],
 87101: [76341, 135397, 119450, 131631, 155],
 155: [238, 278, 680, 198184, 272],
 270303: [348, 539, 238636, 72190, 694],
 348: [270303, 539, 238636, 72190, 694],
 539: [270303, 348, 238636, 72190, 694],
 238636: [270303, 348, 539, 72190, 694],
 72190: [270303, 348, 539, 238636, 694],
 694: [270303, 348, 539, 238636, 72190],
 244786: [157336, 119450, 155, 286217, 550],
 286217: [157336, 119450, 244786, 155, 550],
 550: [157336, 119450, 244786, 155, 286217],
 22: [209112, 19995, 58, 98566, 285],
 8966: [13, 102651, 24021, 150689, 597],
 102651: [13, 8966, 24021, 150689, 597],
 24021: [13, 8966, 102651, 150689, 597],
 150689: [13, 8966, 102651, 24021, 597],
 597: [13, 8966, 102651, 24021, 150689],
 7509: [14608, 26379, 20360, 22600, 15699],
 14608: [7509, 26379, 20360, 22600, 15699],
 26379: [7509, 14608, 20360, 22600, 15699],
 20360: [7509, 14608, 26379, 22600, 15699],
 22600: [7509, 14608, 26379, 20360, 15699],
 15699: [7509, 14608, 26379, 20360, 22600],
 209112: [22, 19995, 58, 98566, 285],
 19995: [22, 209112, 58, 98566, 285],
 58: [22, 209112, 19995, 98566, 285],
 285: [22, 209112, 19995, 58, 98566],
 238: [155, 278, 680, 198184, 272],
 278: [155, 238, 680, 198184, 272],
 680: [155, 238, 278, 198184, 272],
 198184: [155, 238, 278, 680, 272],
 272: [155, 238, 278, 680, 198184],
 228150: [205596, 424, 1417, 190859, 857],
 1417: [205596, 228150, 424, 190859, 857],
 190859: [205596, 228150, 424, 1417, 857],
 254470: [224141, 10198, 277216, 824, 82695],
 224141: [254470, 10198, 277216, 824, 82695],
 10198: [254470, 224141, 277216, 824, 82695],
 277216: [254470, 224141, 10198, 824, 82695],
 824: [254470, 224141, 10198, 277216, 82695],
 82695: [254470, 224141, 10198, 277216, 824],
 27205: [210577, 198663, 158852, 17578, 2501],
 210577: [27205, 198663, 158852, 17578, 2501],
 198663: [27205, 210577, 158852, 17578, 2501],
 17578: [27205, 210577, 198663, 158852, 2501],
 2501: [27205, 210577, 198663, 158852, 17578],
 281957: [429, 68718, 273248, 335, 44264],
 429: [281957, 68718, 273248, 335, 44264],
 68718: [281957, 429, 273248, 335, 44264],
 273248: [281957, 429, 68718, 335, 44264],
 335: [281957, 429, 68718, 273248, 44264],
 44264: [281957, 429, 68718, 273248, 335]}

Simpan ground truth

In [345]:
with open('data/ground_truth.json', 'w') as f:
  json.dump(ground_truth, f)
  
print(f'Ground truth has been saved! Total: {len(ground_truth)} film queries')

Ground truth has been saved! Total: 88 film queries

Ambil ID film dari film query Avatar (ID: 19995)

In [346]:
avatar_ids = ground_truth[19995]
avatar_ids

[22, 209112, 58, 98566, 285]

Konversi ground truth Avatar ke judul film

In [347]:
# Convert ground truth ID to movie title
ground_truth_titles = {}
for film_id, gt_ids in ground_truth.items():
  # Movie title
  main_title = df[df['id'] == int(film_id)]['original_title'].values[0]
    
  # Movie title on ground truth
  gt_titles = df[df['id'].isin(gt_ids)]['original_title'].tolist()
    
  ground_truth_titles[main_title] = gt_titles

print(ground_truth_titles)

{'Sharknado': ['High School Musical', 'How to Fall in Love', "Love's Abiding Joy", 'A Charlie Brown Christmas', 'Signed, Sealed, Delivered'], 'High School Musical': ['How to Fall in Love', 'Sharknado', "Love's Abiding Joy", 'A Charlie Brown Christmas', 'Signed, Sealed, Delivered'], 'A Charlie Brown Christmas': ['High School Musical', 'How to Fall in Love', 'Sharknado', "Love's Abiding Joy", 'Signed, Sealed, Delivered'], 'How to Fall in Love': ['High School Musical', 'Sharknado', "Love's Abiding Joy", 'A Charlie Brown Christmas', 'Signed, Sealed, Delivered'], 'Signed, Sealed, Delivered': ['High School Musical', 'How to Fall in Love', 'Sharknado', "Love's Abiding Joy", 'A Charlie Brown Christmas'], "Love's Abiding Joy": ['High School Musical', 'How to Fall in Love', 'Sharknado', 'A Charlie Brown Christmas', 'Signed, Sealed, Delivered'], 'Minions': ['Jurassic World', 'Guardians of the Galaxy', 'Interstellar', 'Mad Max: Fury Road', 'Deadpool'], 'Big Hero 6': ['Teenage Mutant Ninja Turtles', 'Pixels', 'Minions', 'Deadpool', 'Forrest Gump'], 'Frozen': ['Brave', 'Inside Out', 'Big Hero 6', 'Despicable Me 2', 'Minions'], 'Despicable Me 2': ['Brave', 'Inside Out', 'Big Hero 6', 'Frozen', 'Minions'], 'Harry Potter and the Chamber of Secrets': ['Tomorrowland', 'Big Hero 6', 'Frozen', 'Despicable Me 2', 'Minions'], 'Tomorrowland': ['Inception', 'The Adventures of Tintin', 'Gone Girl', 'The Bourne Identity', 'The Maze Runner'], 'Interstellar': ['Jurassic World', 'Guardians of the Galaxy', 'Mad Max: Fury Road', 'Minions', 'Deadpool'], 'Guardians of the Galaxy': ['Jurassic World', 'Interstellar', 'Mad Max: Fury Road', 'Minions', 'Deadpool'], 'Mad Max: Fury Road': ['Jurassic World', 'Guardians of the Galaxy', 'Interstellar', 'Minions', 'Deadpool'], 'Jurassic World': ['Guardians of the Galaxy', 'Interstellar', 'Mad Max: Fury Road', 'Minions', 'Deadpool'], 'Dawn of the Planet of the Apes': ['Jurassic World', 'Guardians of the Galaxy', 'Interstellar', 'Mad Max: Fury Road', 'The Hunger Games: Mockingjay - Part 1'], 'The Hunger Games: Mockingjay - Part 1': ['Jurassic World', 'Dawn of the Planet of the Apes', 'Guardians of the Galaxy', 'Interstellar', 'Mad Max: Fury Road'], 'Inside Out': ['Brave', 'Big Hero 6', 'Frozen', 'Despicable Me 2', 'Minions'], 'Brave': ['Inside Out', 'Big Hero 6', 'Frozen', 'Despicable Me 2', 'Minions'], 'Deadpool': ['Jurassic World', 'Guardians of the Galaxy', 'Interstellar', 'Mad Max: Fury Road', 'Minions'], 'Teenage Mutant Ninja Turtles': ['Avatar', "Pirates of the Caribbean: At World's End", 'Batman v Superman: Dawn of Justice', "Pirates of the Caribbean: Dead Man's Chest", 'Pirates of the Caribbean: The Curse of the Black Pearl'], 'Pixels': ['Big Hero 6', 'Teenage Mutant Ninja Turtles', 'Minions', 'Deadpool', 'Forrest Gump'], 'Forrest Gump': ['Titanic', 'Maleficent', 'Cinderella', 'The Twilight Saga: Eclipse', 'Twilight'], 'Jackass 3D': ["Michael Jackson's This Is It", 'Fahrenheit 9/11', "La Marche de l'empereur", 'Inside Job', 'Food, Inc.'], "La Marche de l'empereur": ["Michael Jackson's This Is It", 'Jackass 3D', 'Fahrenheit 9/11', 'Inside Job', 'Food, Inc.'], 'Inside Job': ["Michael Jackson's This Is It", 'Jackass 3D', 'Fahrenheit 9/11', "La Marche de l'empereur", 'Food, Inc.'], 'Fahrenheit 9/11': ["Michael Jackson's This Is It", 'Jackass 3D', "La Marche de l'empereur", 'Inside Job', 'Food, Inc.'], "Michael Jackson's This Is It": ['Jackass 3D', 'Fahrenheit 9/11', "La Marche de l'empereur", 'Inside Job', 'Food, Inc.'], 'Food, Inc.': ["Michael Jackson's This Is It", 'Jackass 3D', 'Fahrenheit 9/11', "La Marche de l'empereur", 'Inside Job'], 'The Imitation Game': ['Fury', 'Saving Private Ryan', 'American Sniper', "Schindler's List", 'El laberinto del fauno'], "Schindler's List": ['Fury', 'Saving Private Ryan', 'American Sniper', 'El laberinto del fauno', 'The Imitation Game'], '12 Years a Slave': ['Braveheart', 'Saving Private Ryan', "Schindler's List", 'The Imitation Game', 'Dallas Buyers Club'], 'Saving Private Ryan': ['Fury', 'American Sniper', "Schindler's List", 'El laberinto del fauno', 'The Imitation Game'], 'Braveheart': ['Saving Private Ryan', "Schindler's List", '12 Years a Slave', 'The Imitation Game', 'Dallas Buyers Club'], 'Dallas Buyers Club': ['Braveheart', 'Saving Private Ryan', "Schindler's List", '12 Years a Slave', 'The Imitation Game'], 'Terminator Genisys': ['Jurassic World', 'The Dark Knight', 'Dawn of the Planet of the Apes', 'Mad Max: Fury Road', 'The Hunger Games: Mockingjay - Part 1'], 'The Dark Knight': ['Batman Begins', 'Chappie', 'The Shawshank Redemption', 'Pulp Fiction', 'The Godfather'], 'It Follows': ['World War Z', 'Psycho', 'The Shining', 'Alien', 'The Purge: Anarchy'], 'Alien': ['World War Z', 'Psycho', 'The Shining', 'The Purge: Anarchy', 'It Follows'], 'Psycho': ['World War Z', 'The Shining', 'Alien', 'The Purge: Anarchy', 'It Follows'], 'The Purge: Anarchy': ['World War Z', 'Psycho', 'The Shining', 'Alien', 'It Follows'], 'World War Z': ['Psycho', 'The Shining', 'Alien', 'The Purge: Anarchy', 'It Follows'], 'The Shining': ['World War Z', 'Psycho', 'Alien', 'The Purge: Anarchy', 'It Follows'], 'Whiplash': ['The Dark Knight', 'Dawn of the Planet of the Apes', 'Interstellar', 'The Martian', 'Fight Club'], 'The Martian': ['The Dark Knight', 'Dawn of the Planet of the Apes', 'Interstellar', 'Fight Club', 'Whiplash'], 'Fight Club': ['The Dark Knight', 'Dawn of the Planet of the Apes', 'Interstellar', 'The Martian', 'Whiplash'], 'Pirates of the Caribbean: The Curse of the Black Pearl': ['Avatar', "Pirates of the Caribbean: At World's End", 'Batman v Superman: Dawn of Justice', "Pirates of the Caribbean: Dead Man's Chest", 'Teenage Mutant Ninja Turtles'], 'Twilight': ['Titanic', 'Maleficent', 'Cinderella', 'The Twilight Saga: Eclipse', 'Forrest Gump'], 'Maleficent': ['Titanic', 'Cinderella', 'The Twilight Saga: Eclipse', 'Forrest Gump', 'Twilight'], 'The Twilight Saga: Eclipse': ['Titanic', 'Maleficent', 'Cinderella', 'Forrest Gump', 'Twilight'], 'Cinderella': ['Titanic', 'Maleficent', 'The Twilight Saga: Eclipse', 'Forrest Gump', 'Twilight'], 'Titanic': ['Maleficent', 'Cinderella', 'The Twilight Saga: Eclipse', 'Forrest Gump', 'Twilight'], 'Water': ['Partition', 'Opal Dream', 'Namastey London', 'Paa', 'Jerusalema'], 'Partition': ['Opal Dream', 'Namastey London', 'Paa', 'Water', 'Jerusalema'], 'Paa': ['Partition', 'Opal Dream', 'Namastey London', 'Water', 'Jerusalema'], 'Namastey London': ['Partition', 'Opal Dream', 'Paa', 'Water', 'Jerusalema'], 'Jerusalema': ['Partition', 'Opal Dream', 'Namastey London', 'Paa', 'Water'], 'Opal Dream': ['Partition', 'Namastey London', 'Paa', 'Water', 'Jerusalema'], 'Batman v Superman: Dawn of Justice': ['Avatar', "Pirates of the Caribbean: At World's End", "Pirates of the Caribbean: Dead Man's Chest", 'Pirates of the Caribbean: The Curse of the Black Pearl', 'Teenage Mutant Ninja Turtles'], 'Avatar': ["Pirates of the Caribbean: At World's End", 'Batman v Superman: Dawn of Justice', "Pirates of the Caribbean: Dead Man's Chest", 'Pirates of the Caribbean: The Curse of the Black Pearl', 'Teenage Mutant Ninja Turtles'], "Pirates of the Caribbean: Dead Man's Chest": ['Avatar', "Pirates of the Caribbean: At World's End", 'Batman v Superman: Dawn of Justice', 'Pirates of the Caribbean: The Curse of the Black Pearl', 'Teenage Mutant Ninja Turtles'], "Pirates of the Caribbean: At World's End": ['Avatar', 'Batman v Superman: Dawn of Justice', "Pirates of the Caribbean: Dead Man's Chest", 'Pirates of the Caribbean: The Curse of the Black Pearl', 'Teenage Mutant Ninja Turtles'], 'The Godfather': ['The Dark Knight', 'Batman Begins', 'Chappie', 'The Shawshank Redemption', 'Pulp Fiction'], 'The Shawshank Redemption': ['The Dark Knight', 'Batman Begins', 'Chappie', 'Pulp Fiction', 'The Godfather'], 'Pulp Fiction': ['The Dark Knight', 'Batman Begins', 'Chappie', 'The Shawshank Redemption', 'The Godfather'], 'Chappie': ['The Dark Knight', 'Batman Begins', 'The Shawshank Redemption', 'Pulp Fiction', 'The Godfather'], 'Batman Begins': ['The Dark Knight', 'Chappie', 'The Shawshank Redemption', 'Pulp Fiction', 'The Godfather'], 'Fury': ['Saving Private Ryan', 'American Sniper', "Schindler's List", 'El laberinto del fauno', 'The Imitation Game'], 'El laberinto del fauno': ['Fury', 'Saving Private Ryan', 'American Sniper', "Schindler's List", 'The Imitation Game'], 'American Sniper': ['Fury', 'Saving Private Ryan', "Schindler's List", 'El laberinto del fauno', 'The Imitation Game'], 'Pitch Perfect 2': ['The Princess and the Frog', 'Les MisÃ©rables', 'Moulin Rouge!', 'Into the Woods', 'Straight Outta Compton'], 'Into the Woods': ['The Princess and the Frog', 'Les MisÃ©rables', 'Moulin Rouge!', 'Pitch Perfect 2', 'Straight Outta Compton'], 'The Princess and the Frog': ['Les MisÃ©rables', 'Moulin Rouge!', 'Into the Woods', 'Pitch Perfect 2', 'Straight Outta Compton'], 'Straight Outta Compton': ['The Princess and the Frog', 'Les MisÃ©rables', 'Moulin Rouge!', 'Into the Woods', 'Pitch Perfect 2'], 'Moulin Rouge!': ['The Princess and the Frog', 'Les MisÃ©rables', 'Into the Woods', 'Pitch Perfect 2', 'Straight Outta Compton'], 'Les MisÃ©rables': ['The Princess and the Frog', 'Moulin Rouge!', 'Into the Woods', 'Pitch Perfect 2', 'Straight Outta Compton'], 'Inception': ['Tomorrowland', 'The Adventures of Tintin', 'Gone Girl', 'The Bourne Identity', 'The Maze Runner'], 'Gone Girl': ['Tomorrowland', 'Inception', 'The Adventures of Tintin', 'The Bourne Identity', 'The Maze Runner'], 'The Maze Runner': ['Tomorrowland', 'Inception', 'The Adventures of Tintin', 'Gone Girl', 'The Bourne Identity'], 'The Adventures of Tintin': ['Tomorrowland', 'Inception', 'Gone Girl', 'The Bourne Identity', 'The Maze Runner'], 'The Bourne Identity': ['Tomorrowland', 'Inception', 'The Adventures of Tintin', 'Gone Girl', 'The Maze Runner'], 'The Revenant': ['Django Unchained', 'The Hateful Eight', 'True Grit', "C'era una volta il West", 'Il buono, il brutto, il cattivo'], 'Il buono, il brutto, il cattivo': ['The Revenant', 'Django Unchained', 'The Hateful Eight', 'True Grit', "C'era una volta il West"], 'Django Unchained': ['The Revenant', 'The Hateful Eight', 'True Grit', "C'era una volta il West", 'Il buono, il brutto, il cattivo'], 'The Hateful Eight': ['The Revenant', 'Django Unchained', 'True Grit', "C'era una volta il West", 'Il buono, il brutto, il cattivo'], "C'era una volta il West": ['The Revenant', 'Django Unchained', 'The Hateful Eight', 'True Grit', 'Il buono, il brutto, il cattivo'], 'True Grit': ['The Revenant', 'Django Unchained', 'The Hateful Eight', "C'era una volta il West", 'Il buono, il brutto, il cattivo']}

Ambil rekomendasi film Avatar

In [348]:
avatar_recs = ground_truth_titles['Avatar']
avatar_recs

["Pirates of the Caribbean: At World's End",
 'Batman v Superman: Dawn of Justice',
 "Pirates of the Caribbean: Dead Man's Chest",
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'Teenage Mutant Ninja Turtles']

### 2. Model Evaluation
Setelah membuat ground truth khusus, maka proses evaluasi bisa dilanjutkan, dengan menggunakan metrik Mean Reciprocal Rank (MRR) dan Normalized Discounted Cumulative Gain (NDCG). MRR dan NDCG digunakan untuk mengukur kinerja model dalam menemukan item yang relevan.

Membuat fungsi mengambil rekaman rekomendasi film dari semua model

In [349]:
def get_top_recommendations(similarity_matrix, ids, top_n):
  recs = {}
  for idx, row in enumerate(similarity_matrix):
    similar_indices = row.flatten().argsort()[::-1]
    similar_indices = [i for i in similar_indices if i != idx][:top_n]
    film_id = ids[idx]
    recommended_ids = [ids[i] for i in similar_indices]
    recs[film_id] = recommended_ids
  return recs

Simpan semua hasil rekomendasi

In [350]:
model_results = {
	'TF-IDF Overview': get_top_recommendations(cos_tfidf_overview, df['id'], top_n=5),
	'TF-IDF Genres': get_top_recommendations(cos_tfidf_genres, df['id'], top_n=5),
	'BERT Overview': get_top_recommendations(cos_bert_overview, df['id'], top_n=5),
	'BERT Genres': get_top_recommendations(cos_bert_genres, df['id'], top_n=5)
}

Buat dict hasil rekomendasi tiap skema

In [351]:
recs_tfidf_overview = get_top_recommendations(cos_tfidf_overview, df['id'], top_n=5)
recs_tfidf_genres = get_top_recommendations(cos_tfidf_genres, df['id'], top_n=5)
recs_bert_overview = get_top_recommendations(cos_bert_overview, df['id'], top_n=5)
recs_tfidf_genres =  get_top_recommendations(cos_bert_genres, df['id'], top_n=5)

Buat fungsi metrik MRR dan NDCG

In [352]:
from sklearn.metrics import ndcg_score

# MRR Function
def mean_reciprocal_rank(ground_truth, prediction):
  rr = 0.0
  for i, p in enumerate(prediction, start=1):
    if p in ground_truth:
      rr = 1.0 / i
      break
  return rr

# NDCG Function
def ndcg(ground_truth, prediction, k=10):
  # Binary relevance (1 if in ground truth, 0 if is not)
  relevance = [1 if p in ground_truth else 0 for p in prediction[:k]]
  return ndcg_score([relevance], [list(range(len(relevance), 0, -1))])

Buat proses looping untuk mengambil nilai MRR dan NDCG

In [353]:
# Looping for TF-IDF overview
for model_name, avatar_ids in model_results.items():
  mrr_list_tfidf_overview, ndcg_list_tfidf_overview = [], []
  for film_id, prediction in avatar_ids.items():
    gt = ground_truth.get(str(film_id), [])
    mrr_list_tfidf_overview.append(mean_reciprocal_rank(gt, prediction))
    ndcg_list_tfidf_overview.append(ndcg(gt, prediction))
  mrr_result_tfidf_overview = sum(mrr_list_tfidf_overview) / len(mrr_list_tfidf_overview)
  ndcg_result_tfidf_overview = sum(ndcg_list_tfidf_overview) / len(ndcg_list_tfidf_overview)
  
# Looping for TF-IDF genres
for model_name, avatar_ids in model_results.items():
  mrr_list_tfidf_genres, ndcg_list_tfidf_genres = [], []
  for film_id, prediction in avatar_ids.items():
    gt = ground_truth.get(str(film_id), [])
    mrr_list_tfidf_genres.append(mean_reciprocal_rank(gt, prediction))
    ndcg_list_tfidf_genres.append(ndcg(gt, prediction))
  mrr_result_tfidf_genres = sum(mrr_list_tfidf_genres) / len(mrr_list_tfidf_genres)
  ndcg_result_tfidf_genres = sum(ndcg_list_tfidf_genres) / len(ndcg_list_tfidf_genres)
  
# Looping for BERT overview
for model_name, avatar_ids in model_results.items():
  mrr_list_bert_overview, ndcg_list_bert_overview = [], []
  for film_id, prediction in avatar_ids.items():
    gt = ground_truth.get(str(film_id), [])
    mrr_list_bert_overview.append(mean_reciprocal_rank(gt, prediction))
    ndcg_list_bert_overview.append(ndcg(gt, prediction))
  mrr_result_bert_overview = sum(mrr_list_bert_overview) / len(mrr_list_bert_overview)
  ndcg_result_bert_overview = sum(ndcg_list_bert_overview) / len(ndcg_list_bert_overview)
  
# Looping for BERT genres
for model_name, avatar_ids in model_results.items():
  mrr_list_bert_genres, ndcg_list_bert_genres = [], []
  for film_id, prediction in avatar_ids.items():
    gt = ground_truth.get(str(film_id), [])
    mrr_list_bert_genres.append(mean_reciprocal_rank(gt, prediction))
    ndcg_list_bert_genres.append(ndcg(gt, prediction))
  mrr_result_bert_genres = sum(mrr_list_bert_genres) / len(mrr_list_bert_genres)
  ndcg_result_bert_genres = sum(ndcg_list_bert_genres) / len(ndcg_list_bert_genres)

Tampilkan nilai metrik

In [354]:
metric_result = pd.DataFrame({
	'Model': ['TF-IDF Overview', 'TF-IDF Genres', 'BERT Overview', 'BERT Genres'],
  'MRR': [mrr_result_tfidf_overview, mrr_result_tfidf_genres, mrr_result_bert_overview, mrr_result_bert_genres],
  'NDCG': [ndcg_result_tfidf_overview, ndcg_result_tfidf_genres, ndcg_result_bert_overview, ndcg_result_bert_genres]
})
metric_result

             Model  MRR  NDCG
0  TF-IDF Overview  0.0   0.0
1    TF-IDF Genres  0.0   0.0
2    BERT Overview  0.0   0.0
3      BERT Genres  0.0   0.0

Hasil metrik evaluasi MRR dan NDCG di semua model menghasilkan 0. Hal ini mengindikasikan bahwa rekomendasi yang dihasilkan oleh masing-masing model tidak menemukan relevansi langsung dengan ground truth yang telah dibuat. Penyebab utamanya kemungkinan karena data ground truth dan data id film pada hasil rekomendasi (recs) tidak sinkron atau tidak cocok secara langsung. Oleh karena itu, evaluasi manual akan digunakan untuk verifikasi kinerja model secara lebih akurat.

### 3. Manual Evaluation
Evaluasi manual dilakukan dengan membandingkan _ground truth_ yang telah dibuat dengan hasil rekomendasi dari kedua model.

Buat dataframe perbandingan _ground truth_ dengan hasil rekomendasi kedua model

In [355]:

def compute_relevance(recommended, avatar_recs):
    return len(set(recommended).intersection(set(avatar_recs)))

# Count relevances using recs functions
relevance_tfidf_overview = compute_relevance(tfidf_overview_test, avatar_recs)
relevance_tfidf_genres = compute_relevance(tfidf_genres_test, avatar_recs)
relevance_bert_overview = compute_relevance(bert_overview_test, avatar_recs)
relevance_bert_genres = compute_relevance(bert_genres_test, avatar_recs)

film_title = "Avatar"

evaluation_df = pd.DataFrame({
    'Film': [film_title],
    'TF-IDF overview': [tfidf_overview_test],
    'TF-IDF genres': [tfidf_genres_test],
    'BERT overview': [bert_overview_test],
    'BERT genres': [bert_genres_test],
    'TF-IDF overview relevance': [relevance_tfidf_overview],
    'TF-IDF genres relevance': [relevance_tfidf_genres],
    'BERT overview relevance': [relevance_bert_overview],
    'BERT genres relevance': [relevance_bert_genres]
})

# Lihat dataframe
evaluation_df

,Film,TF-IDF overview,TF-IDF genres,BERT overview,BERT genres,TF-IDF overview relevance,TF-IDF genres relevance,BERT overview relevance,BERT genres relevance
0,Avatar,3604 Apollo 18 529 Tears of the ...,10 Superman Returns 14 ...,"[(Alien: Resurrection, 0.4628), (The Black Hol...","[(X-Men: Days of Future Past, 1.0), (Man of St...",0,0,0,0

Hasil Evaluasi manual dengan _ground truth_ ternyata menunjukkan hal yang sama dengan hasil evaluasi dengan metrik MRR dan NDCG. Hal ini tentu menjadi pertimbangan dalam menentukan _ground truth_ yang sesuai dengan sistem rekomendasi yang dibangun. Namun, untuk melihat perbandingan secara langsung keempat skema pemodelan tersebut dalam menentukan rekomendasi film dari judul (untuk proyek ini, misalkan **Avatar**), akan dipaparkan hasil dari keempat skema pemodelan tersebut

Ambil judul film hasil rekomendasi dari setiap skema

In [356]:
bert_overview_titles = [title for title, _ in bert_overview_test]
bert_genres_titles = [title for title, _ in bert_genres_test]
tfidf_overview_titles = tfidf_overview_test.tolist()
tfidf_genres_titles = tfidf_genres_test.tolist()

Buat dataframe hasil rekomendasi tiap skema

In [357]:
# Make a set of recommendation lists
recommendation_lists = {
    'TF-IDF Overview': tfidf_overview_titles,
    'TF-IDF Genres': tfidf_genres_titles,
    'BERT Overview': bert_overview_titles,
    'BERT Genres': bert_genres_titles
}

film_input = 'Avatar'

manual_eval = pd.DataFrame([
    {"Model": model, "Movie Title": film_input, "Recommendation": title}
    for model, titles in recommendation_lists.items()
    for title in titles
])
manual_eval

              Model Movie Title                             Recommendation
0   TF-IDF Overview      Avatar                                  Apollo 18
1   TF-IDF Overview      Avatar                           Tears of the Sun
2   TF-IDF Overview      Avatar                               The American
3   TF-IDF Overview      Avatar                           Obitaemyy Ostrov
4   TF-IDF Overview      Avatar                                 The Matrix
5     TF-IDF Genres      Avatar                           Superman Returns
6     TF-IDF Genres      Avatar                               Man of Steel
7     TF-IDF Genres      Avatar                 X-Men: Days of Future Past
8     TF-IDF Genres      Avatar                          Jupiter Ascending
9     TF-IDF Genres      Avatar                              The Wolverine
10    BERT Overview      Avatar                        Alien: Resurrection
11    BERT Overview      Avatar                             The Black Hole
12    BERT Overview      Avatar                                   Serenity
13    BERT Overview      Avatar                                     Aliens
14    BERT Overview      Avatar                                  Supernova
15      BERT Genres      Avatar                 X-Men: Days of Future Past
16      BERT Genres      Avatar                               Man of Steel
17      BERT Genres      Avatar                                   Superman
18      BERT Genres      Avatar  Beastmaster 2: Through the Portal of Time
19      BERT Genres      Avatar                                Superman II

Berdasarkan hasil rekomendasi dari keempat pendekatan content-based filtering terhadap film Avatar, terlihat bahwa setiap skema menghasilkan pola rekomendasi yang berbeda. Pendekatan TF-IDF pada overview cenderung merekomendasikan film dengan kemiripan secara literal dalam teks sinopsis, namun tidak selalu relevan secara tematik â€” misalnya Apollo 18 atau The American, yang memiliki kata kunci serupa namun latar cerita sangat berbeda. Sebaliknya, TF-IDF pada genres menunjukkan hasil yang sedikit lebih baik, dengan munculnya film-film superhero dan fiksi ilmiah seperti Man of Steel, X-Men: Days of Future Past, dan Jupiter Ascending, meskipun tetap belum menyentuh film dalam ground truth. Pendekatan BERT pada overview memberikan hasil yang lebih semantik dan relevan, seperti Aliens, Serenity, dan Alien: Resurrection, yang memiliki kemiripan konteks dunia luar angkasa, spesies asing, dan konflik manusia-alienâ€”tema yang sangat dekat dengan Avatar. Terakhir, BERT pada genres juga merekomendasikan film superhero dan sci-fi klasik, seperti Superman, X-Men, dan Superman II, namun kembali terbatas oleh input genre yang sangat singkat. Secara keseluruhan, pendekatan BERT dengan overview terlihat paling mendekati konteks naratif dan atmosfer Avatar, meskipun masih belum berhasil mencocokkan film yang ada dalam ground truth secara eksplisit.